[Unit]
Description=IPFS - InterPlanetary File System daemon

[Service]
Environment=IPFS_PATH=/var/lib/ipfs/go-ipfs
ExecStart=/usr/local/bin/ipfs daemon -init
User={{user}}

[Install]
WantedBy=multi-user.target
